$general-background_color: #202328;
$box-shadow_color: #1b1b1c;
$general-text_color: rgb(226, 226, 226);
$sidebar-border_color: rgba(226, 226, 226, 0.2);
$add-button-color: rgba(226, 226, 226, 0.4);
$important_button-color: #d92026;
$emphasis-color: orangered;
$background-emphasis-color: rgba(255, 69, 0, 0.2);
